.footer-section{

background:#012E2D;

padding:40px 0 8px;

color:white;

}



.footer-logo{

width:170px;

margin-bottom:15px;

}




.footer-desc{

font-size:14px;

line-height:1.7;

color:#cdd7d7;

text-align:justify;

}




.footer-title{

font-size:22px;

font-weight:600;

margin-bottom:15px;

}




.footer-contact p{

display:flex;

gap:10px;

margin-bottom:10px;

font-size:14px;

line-height:1.5;

color:#cdd7d7;

}



.footer-contact svg{

min-width:16px;

margin-top:4px;

color:#9fd8d5;

}





.footer-links{

padding:0;

margin:0;

list-style:none;

}




.footer-links li{

display:flex;

align-items:center;

gap:7px;

margin-bottom:10px;

font-size:14px;

cursor:pointer;

color:#cdd7d7;

transition:.3s;

}



.footer-links li:hover{

color:white;

padding-left:3px;

}




.social-icons{

display:flex;

gap:8px;

margin-top:12px;

}



.social-icons a{

width:34px;

height:34px;

border:1px solid #0E7872;

display:flex;

align-items:center;

justify-content:center;

text-decoration:none;

color:#0E7872;

transition:.3s;

}



.social-icons a:hover{

background:#0E7872;

color:white;

}





.footer-line{

margin:20px 0 10px;

border-color:#0b4d4a;

opacity:.35;

}




.footer-bottom{

text-align:center;

font-size:14px;

color:#cdd7d7;

}



.footer-bottom b{

color:white;

font-weight:600;

}




@media(max-width:992px){

.footer-section{

padding:35px 0 10px;

}


.footer-title{

font-size:20px;

margin-top:15px;

}


.footer-logo{

width:150px;

}


}



@media(max-width:576px){


.footer-title{

font-size:18px;

}


.footer-desc{

text-align:left;

}


.social-icons{

justify-content:flex-start;

}


.footer-bottom{

font-size:13px;

}


}